nav {
  display: flex;
  justify-content: space-between;
  background: #c46811;
  ul > li {
    list-style: none;
    display: inline-block;
  }
  a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
  }
}
