<form #myForm="ngForm" (ngSubmit)="login(myForm)" class="myForm">
  <fieldset>
    <legend>
      <img src="../../../assets/images/user-logo.png">
    </legend>
    <div class="input-container">
      <input name="username" (ngModel)="username" [class.dirty]="myForm.value.username" required type="text">
      <label>Username</label>
    </div>
    <div class="input-container">
      <input name="password" (ngModel)="password" [class.dirty]="myForm.value.password" required type="password">
      <label>Password</label>

    </div>
    <button type="submit" [disabled]="!myForm.valid" [class.not-valid]="!myForm.valid"class="login-btn">Login</button>
  </fieldset>
</form>
