<div class="wrapper">
  <div class="logo"></div>
  <div class="sign-in">
    <div class="sign-in__header"> Book Store</div>
    <div class="sign-in__form-wrapper">
      <form id="sign-in-form">
        <div class="sign-in__email">
          <label class='sign-in__label'>Email </label>
          <input class='sign-in__input' id="user_email" name="email"/>
        </div>
        <div class="sign-in__password">
          <label class='sign-in__label'>Password</label>
          <input class='sign-in__input' id="user_password" name="password"/>
        </div>
        <div class="text-left small-text">
          <a class="sign-in__forgot-password">
            Forgot password?
          </a>
        </div>
        <div class="sign-in__submit">
          <button class="sign-in__submit-btn" type="button">
            <span>Sign in</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
